.pageWrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;

  @media screen and (max-width: 450px) {
    width: 90%;
  }
}

.closeBtn {
  position: absolute;
  right: 0;
  cursor: pointer;

  svg {
    width: 23px;
    height: 23px;
    path {
      fill: var(--text-white);
    }
  }

  @media screen and (max-width: 1024px) {
    svg {
      width: 20px;
      height: 20px;
    }
  }

  @media screen and (max-width: 600px) {
    svg {
      width: 18px;
      height: 18px;
    }
  }

  @media screen and (max-width: 450px) {
    top: -1rem;
    svg {
      width: 15px;
      height: 15px;
    }
  }
}

.resultHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0 3rem;

  @media screen and (max-width: 450px) {
    margin: 5rem 0 1rem;
  }
}

.resultHeaderTop {
  display: flex;
  align-items: center;
}

.userIcon {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: var(--bg-light);
  margin-right: 2rem;

  @media screen and (max-width: 768px) {
    width: 46px;
    height: 46px;
    margin-right: 2rem;

    svg {
      width: 46px;
      height: 46px;
    }
  }

  @media screen and (max-width: 450px) {
    width: 40px;
    height: 40px;
    margin-right: 1.5rem;

    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.scoreText {
  font-weight: 700;
  font-size: 21px;
  line-height: 23px;
  color: var(--text-white);
  user-select: none;

  @media screen and (max-width: 768px) {
    font-size: 19px;
  }

  @media screen and (max-width: 450px) {
    font-size: 17px;
  }
}

.correctAnswerAmount {
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: var(--text-secondary);
  margin-left: 10px;

  @media screen and (max-width: 768px) {
    font-size: 25px;
  }
}

.resultHeaderBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.starIcon {
  width: 26px;
  width: 26px;
  margin-right: 5px;

  @media screen and (max-width: 450px) {
    width: 20px;
    width: 20px;
  }
}

.filledStar {
  path {
    fill: var(--bg-secondary);
  }
}

.question {
  color: var(--text-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 148.9%;
  border-radius: 14px;
  padding: 15px 20px;
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    font-size: 15px;
    padding: 12px 17px;
  }

  @media screen and (max-width: 450px) {
    font-size: 14px;
  }
}

.correct {
  background: var(--bg-light);
}

.wrong {
  background: var(--bg-secondary-light);
}

.questionText {
  width: 100%;
}

.questionIcon {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 450px) {
    width: 35px;
    svg {
      width: 14px !important;
      height: 14px !important;
    }
  }
}

.playBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;

  button {
    width: 60%;

    @media screen and (max-width: 450px) {
      width: 100%;
    }
  }
}
