.progressBarComponent {
  width: 60%;
  margin: 0 auto;

  @media screen and (max-width: 450px) {
    width: 100%;
  }
}

.progressText {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--text-primary);

  span {
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    color: var(--text-secondary);
  }

  @media screen and (max-width: 768px) {
    font-size: 16px;

    span {
      font-size: 22px;
    }
  }

  @media screen and (max-width: 600px) {
    font-size: 15px;

    span {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 450px) {
    font-size: 14px;

    span {
      font-size: 18px;
    }
  }
}

.progress {
  height: 5px;
  width: 100%;
  background: #dbdeff;
  border-radius: 20px;
  margin-top: 10px;
  position: relative;
  @media screen and (max-width: 450px) {
    margin-top: 0;
  }
}

.progressCompleted {
  height: 100%;
  max-width: 100%;
  background: linear-gradient(180deg, #ff7878 0%, #ff7878 100%);
  border-radius: 20px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
